<div class="w-100 d-flex justify-content-center bg-light menubar-border">

    <p-menubar [styleClass]="'py-0 d-block d-md-flex'">
        <ng-template pTemplate="start" let-item let-root="root">
            <p-inputGroup>
                <label for="search">
                    <p-inputGroupAddon class="border-0 bg-transparent">
                        <i class="pi pi-search"></i>
                    </p-inputGroupAddon>
                </label>
                <input pInputText id="search" placeholder="Search mission..." class="border-0 bg-transparent" />
            </p-inputGroup>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="d-md-flex">
                
                <p-multiSelect [options]="countries" [(ngModel)]="countryFilters" optionValue="name" optionLabel="name" placeholder="Country" [showClear]="true"
                    [maxSelectedLabels]="1" [styleClass]="'w-10vw w-100 bg-transparent border-0'" />
                    
                <p-multiSelect [options]="cities" [(ngModel)]="cityFilters" optionValue="name" optionLabel="name" placeholder="City" [showClear]="true"
                    [maxSelectedLabels]="1" [styleClass]="'w-10vw w-100 bg-transparent border-0'" />
                <p-multiSelect [options]="themes" [(ngModel)]="themeFilters" optionValue="name" optionLabel="name" placeholder="Theme" [showClear]="true"
                    [maxSelectedLabels]="1" [styleClass]="'w-10vw w-100 bg-transparent border-0'" />
                <p-multiSelect [options]="skills" [(ngModel)]="skillFilters" optionValue="name" optionLabel="name" placeholder="Skill" [showClear]="true"
                    [maxSelectedLabels]="1" [styleClass]="'w-10vw w-100 bg-transparent border-0'" />               

            </div>
        </ng-template>
    </p-menubar>
</div>
<div class="w-100 d-flex justify-content-center bg-light menubar-border">

    <p-menubar>
        <ng-template pTemplate="start" let-item let-root="root">
            <small>
                {{countryFilters}} {{cityFilters}} {{themeFilters}} {{skillFilters}}
            </small>
        </ng-template>
        <ng-template pTemplate="end">
            <p-button label="Clear all" [severity]="'secondary'" [text]="true" (onClick)="clearAll()" />
        </ng-template>
    </p-menubar>

</div>
