
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    button,
    input {
        /* CSS to Reset */
    }

    ::ng-deep .p-carousel-item-active {
      height: 100vh;
    }
/*     
      ::ng-deep .p-carousel-indicators {
        position: absolute !important;
        width: 100%;
        bottom: 0;
      }
      ::ng-deep .p-carousel-indicators > * {
        margin: 20px !important;
      }
      ::ng-deep .p-carousel-indicators > .p-carousel-indicator > .p-link {
        border: 10px solid gray;
        width: 0;
        border-radius: 50% !important;
      }
      ::ng-deep .p-carousel-indicators > .p-highlight > .p-link {
        border: 10px solid red !important;
        width: 0;
        border-radius: 50% !important;
      }
      ::ng-deep .p-highlight {
        position: absolute !important; */
      /* } */
}

.register-form-div {
    width: 25%;
  }
  .register-form {
    width: 100%;
  }
  .register-btn{
    border-color: rgb(201, 113, 26) !important;
    color: rgb(201, 113, 26);
  }
  @media only screen and (max-width: 768px) {
      .register-form-div {
        width: 100%;
      }
    }
  @media only screen and (max-width: 768px) {
      .register-form {
        width: 340px !important;
      }
    }
    .img
    {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 100vh !important;
    }