<div class="w-100 d-flex justify-content-center bg-light menubar-border header-1">

    <p-menubar [model]="items" [styleClass]="'py-1'" >
        <ng-template pTemplate="item" let-item let-root="root">
            <div class="my-3 mb-0 p-2 text-center h-100 align-self-center">
                {{ item.label }}
            </div>    
        </ng-template>
        <ng-template pTemplate="end">
            <div class="d-flex align-items-center">
                <p-button [severity]="'warning'" label="Submit new mission" [outlined]="true" [styleClass]="'rounded-pill gap-2 py-2'" ></p-button>
                    <p-avatar class="ms-4 my-1" image="data:image/png;base64,{{avatar}}" shape="circle" /> 
                <div class="ms-4 my-1">
                    <span >{{userName}}</span>
                </div>
            </div>
        </ng-template>
    </p-menubar>
    
</div>