<div class="w-100 d-flex vh-100">
    <div class="w-75-fix vh-100 d-none d-md-flex align-items-center">
        <p-carousel class="w-100 p-0 vh-100 position-relative" [value]="carousels" [circular]="true"
            [responsiveOptions]="responsiveOptions" autoplayInterval="3000" [showIndicators]="false"
            [showNavigators]="false" [numScroll]="1" [numVisible]="1">
            <ng-template let-carousels pTemplate="item">
                <div class="img position-relative"
                    style="background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url('data:image/png;base64,{{carousels.image}}'); background-size: cover !important;">
                    <div class="position-absolute w-75 text-white" style="left: 12.5%; bottom: 10%;">
                        <h1 class="fw-bolder" style="letter-spacing: 3px;">
                            {{carousels.head}}
                        </h1>
                        <p>
                            {{carousels.description}}
                        </p>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="login-form-div d-flex flex-column justify-content-between align-items-center p-5">
        <div></div>
        <form class="w-100 login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="mb-3 d-flex flex-column w-100">
                <label for="email">Email Address</label>
                <input pInputText id="email" aria-describedby="email-validation" formControlName="email" />
                <small class="text-danger" id="email-validation"
                    *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                    @if(loginForm.controls['email'].getError('required') != null){
                    <span>Required</span>
                    }
                    @else if (loginForm.controls['email'].getError('email')!= null) {
                    <span>Please enter valid email address</span>
                    }
                    @else if (loginForm.controls['email'].getError('maxlength')!= null) {
                    <span>Maximum 128 characters are allowed</span>
                    }
                </small>
            </div>

            <div class="mb-3 d-flex flex-column w-100">
                <label for="password">Password</label>
                <input pInputText id="password" type="password" aria-describedby="password-validation"
                    formControlName="password"
                     />
                <small class="text-danger" id="password-validation"
                    *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                    @if(loginForm.controls['password'].getError('required') != null){
                    <span>Required</span>
                    }
                    @else if (loginForm.controls['password'].getError('passwordInvalid')!= null) {
                    <span>Please enter valid password</span>
                    }
                    @else if (loginForm.controls['password'].getError('minlength')!= null) {
                    <span>Minimum 8 characters are required</span>
                    }
                    @else if (loginForm.controls['password'].getError('maxlength')!= null) {
                    <span>Maximum 255 characters are allowed</span>
                    }
                </small>
            </div>

            <div [ngClass]="{'d-none': loginErrorMessage == null || loginErrorMessage == ''}">
                {{loginErrorMessage}}
            </div>

            <button pButton [disabled]="loginForm.invalid" class="p-button-rounded rounded-pill w-100 text-nowrap"
                [severity]="'warning'" [outlined]="true" [type]="'submit'" label="Login"></button>

            <p class=" w-100 mb-2 text-center">
                <small> <a class="text-decoration-none" routerLink="/forget-password">Lost your password?</a></small>
            </p>
            <p class="w-100 mb-2 text-center">
                <small>Don't have an account? <a class="text-decoration-none" routerLink="/register"> Create an account?
                    </a></small>
            </p>
        </form>
        <small class="float-end">
            Privacy Policy
        </small>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->