.register-form-div {
    width: 25%;
  }
  .register-form {
    width: 100%;
  }
  .register-btn{
    border-color: rgb(201, 113, 26) !important;
    color: rgb(201, 113, 26);
  }
  @media only screen and (max-width: 768px) {
      .register-form-div {
        width: 100%;
      }
    }
  @media only screen and (max-width: 768px) {
      .register-form {
        width: 340px !important;
      }
    }
    .img
    {
        background-image: url('https://t3.ftcdn.net/jpg/05/28/86/66/240_F_528866602_aiVwnOnkooTrqo3MgicCf83SVVzt1Gnd.jpg');
        width: 100%;
        height: 100% !important;
        background-repeat: no-repeat;
        background-size: cover;
        /* display: flex;
        align-items: center;
        justify-content: center; */
    }
    .p-carousel, .p-carousel-content, .p-carousel-item-container, .p-carousel-container,.p-carousel-item,.p-carousel-item-container {
        height: 100vh !important;
        width: 100% !important;
    }