<div class="w-100 d-flex vh-100">
    <div class="w-75-fix vh-100 d-none d-md-flex align-items-center">
        <p-carousel class="w-100 p-0 vh-100 position-relative" [value]="carousels" [circular]="true"
            [responsiveOptions]="responsiveOptions" autoplayInterval="3000" [showIndicators]="false"
            [showNavigators]="false" [numScroll]="1" [numVisible]="1">
            <ng-template let-carousels pTemplate="item">
                <div class="img position-relative"
                    style="background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) ), url('data:image/png;base64,{{carousels.image}}'); background-size: cover !important;">
                    <div class="position-absolute w-50 text-white" style="left: 25%; bottom: 15%;">
                        <h1 class="fw-bolder" style="letter-spacing: 3px; font-size: xx-large;">
                            {{carousels.head}}
                        </h1>
                        <p>
                            {{carousels.description}}
                        </p>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="register-form-div d-flex flex-column justify-content-between align-items-center p-5">
        <div></div>
        <form class="w-100 register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="mb-3 d-flex flex-column w-100">
                <label for="firstName">First Name</label>
                <input pInputText id="firstName" aria-describedby="firstName-validation" formControlName="firstName"/>
                
                <small class="text-danger" id="firstName-validation" *ngIf="registerForm.controls['firstName'].invalid && (registerForm.controls['firstName'].dirty || registerForm.controls['firstName'].touched)">
                    @if(registerForm.controls['firstName'].getError('required') != null){
                        <span>Required</span>
                    }
                    @else if (registerForm.controls['firstName'].getError('minlength')!= null) {
                        <span>Minimum 2 characters are required</span>
                    }
                    @else if (registerForm.controls['firstName'].getError('maxlength')!= null) {
                        <span>Maximum 16 characters are allowed</span>
                    }
                </small>
            </div>

            <div class="mb-3 d-flex flex-column w-100">
                <label for="lastName">Last Name</label>
                <input pInputText id="lastName" aria-describedby="lastName-validation"  formControlName="lastName"/>
                <small class="text-danger" id="lastName-validation" *ngIf="registerForm.controls['lastName'].invalid && (registerForm.controls['lastName'].dirty || registerForm.controls['lastName'].touched)">
                    @if(registerForm.controls['lastName'].getError('required') != null){
                        <span>Required</span>
                    }
                    @else if (registerForm.controls['lastName'].getError('minlength')!= null) {
                        <span>Minimum 2 characters are required</span>
                    }
                    @else if (registerForm.controls['lastName'].getError('maxlength')!= null) {
                        <span>Maximum 16 characters are allowed</span>
                    }
                </small>
            </div>

            <div class="mb-3 d-flex flex-column w-100">
                <label for="phoneNumber">Phone Number</label>
                <input type="number" pInputText id="phoneNumber" aria-describedby="phoneNumber-validation"  formControlName="phoneNumber"/>
                <small class="text-danger" id="phoneNumber-validation" *ngIf="registerForm.controls['phoneNumber'].invalid && (registerForm.controls['phoneNumber'].dirty || registerForm.controls['phoneNumber'].touched)">
                    @if(registerForm.controls['phoneNumber'].getError('required') != null){
                        <span>Required</span>
                    }
                    @else if (registerForm.controls['phoneNumber'].getError('phoneNumberInvalid')!= null) {
                        <span>Please enter valid Phone Number</span>
                    }
                </small>
            </div>

            <div class="mb-3 d-flex flex-column w-100">
                <label for="email">Email Address</label>
                <input pInputText id="email" aria-describedby="email-validation" formControlName="email" />
                <small class="text-danger" id="email-validation" *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
                    @if(registerForm.controls['email'].getError('required') != null){
                        <span>Required</span>
                    }
                    @else if (registerForm.controls['email'].getError('email')!= null) {
                        <span>Please enter valid email address</span>
                    }
                    @else if (registerForm.controls['email'].getError('maxlength')!= null) {
                        <span>Maximum 128 characters are allowed</span>
                    }
                </small>
            </div>

            <div class="mb-3 d-flex flex-column w-100">
                <label for="password">Password</label>
                <input pInputText id="password" type="password" aria-describedby="password-validation"  formControlName="password"/>
                <small class="text-danger" id="password-validation" *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
                    @if(registerForm.controls['password'].getError('required') != null){
                        <span>Required</span>
                    }
                    @else if (registerForm.controls['password'].getError('passwordInvalid')!= null) {
                        <span>Please enter valid password</span>
                    }
                    @else if (registerForm.controls['password'].getError('minlength')!= null) {
                        <span>Minimum 8 characters are required</span>
                    }
                    @else if (registerForm.controls['password'].getError('maxlength')!= null) {
                        <span>Maximum 255 characters are allowed</span>
                    }
                </small>
            </div>

            <div class="mb-3 d-flex flex-column w-100">
                <label for="confirmPassword">Confirm Password</label>
                <input pInputText id="confirmPassword" type="password" aria-describedby="confirmPassword-validation"  formControlName="confirmPassword"/>
                <small class="text-danger" id="password-validation" *ngIf="(registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)) || registerForm.getError('PasswordMismatch') != null"> 
                    @if(registerForm.controls['confirmPassword'].getError('required') != null){
                        <span>Required</span>
                    }
                    @else if (registerForm.controls['confirmPassword'].getError('passwordInvalid')!= null) {
                        <span>Please enter valid Confirm password</span>
                    }
                    @else if (registerForm.controls['confirmPassword'].getError('minlength')!= null) {
                        <span>Minimum 8 characters are required</span>
                    }
                    @else if (registerForm.controls['confirmPassword'].getError('maxlength')!= null) {
                        <span>Maximum 255 characters are allowed</span>
                    }
                    @else if(registerForm.getError('PasswordMismatch')) {
                        <span>Password and confirm password should  be same</span>
                    }
                </small>
            </div>
            <button pButton [disabled]="registerForm.invalid" class="p-button-rounded rounded-pill w-100 text-nowrap" [severity]="'warning'" [outlined]="true" [type]="'submit'" label="Register"></button>
            
            <p class=" w-100 mb-2 text-center">
                <small> <a class="text-decoration-none" routerLink="/forget-password">Lost your password?</a></small>
            </p>

            <p class="w-100 mb-2 text-center">
                <small>Already registered? <a class="text-decoration-none" routerLink="/login">Login now? </a></small>
            </p>
            
        </form>
        <small class="float-end">
            Privacy Policy
        </small>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->