<app-header />

<div class="w-100 my-2 d-flex flex-column align-items-center">
    <div class="w-75">
        <h3 class="w-100 ps-2">{{storyDetails?.title}}</h3>
        <div>
            <span class="border rounded-pill w-auto px-2 py-1 text-secondary">
                <i class="pi pi-eye me-2"></i>
                {{storyDetails?.views}} Views
            </span>
        </div>
        <div class="my-2 d-flex w-100 justify-content-between">
            <p-galleria [value]="storyDetails?.images" [showItemNavigators]="true" [circular]="true"
                [responsiveOptions]="responsiveOptions" [circular]="true" [numVisible]="5"
                [showIndicatorsOnItem]="true" 
                [showThumbnailNavigators]="false" [thumbnailsPosition]="'right'" class="w-75 ">
                <ng-template pTemplate="item" let-item>
                    <img src="data:image/png;base64,{{item}}" style="height: 60vh;"
                        class="rounded w-100 border border-secondary" />
                </ng-template>
                <ng-template pTemplate="thumbnail" let-item>
                    <div class="grid grid-nogutter justify-content-center">
                        <img class="border border-dark rounded" src="data:image/png;base64,{{item}}"
                            style="display: block; height: 5rem; width: 5rem;" />
                    </div>
                </ng-template>
            </p-galleria>
            <div class="text-center border pt-5 position-relative w-25">
                <p-avatar class="ms-4 my-1 position-absolute" image="data:image/png;base64,{{storyDetails?.profileImage}}" shape="circle" [size]="'xlarge'" [ngStyle]="{top : '-40px', height: '80px'}" /> 

                <b>{{storyDetails?.userName}}</b> <br>
                <small>{{storyDetails?.userCity + ', ' + storyDetails?.userCountry}}</small>
                <hr>
                <p>{{storyDetails?.userIntroduction}}</p>
            </div>
        </div>
        <div class="w-100">
            <p>
                {{storyDetails?.description}}
            </p>
        </div>
        <div class="w-100 d-flex gap-2">
            <p-button [severity]="'secondary'" [outlined]="true" label="Recommend to a co-worker" [styleClass]="'rounded-pill gap-2'" [icon]="'pi pi-users'" />
            <p-button [severity]="'warning'" [outlined]="true" label="Open Mission" [styleClass]="'rounded-pill gap-2'" [icon]="'pi pi-arrow-right'" [iconPos]="'right'" />
        </div>
    </div>
</div>