<app-header></app-header>
<app-searchbar 
    (getThemeFilters)="themeFiltersEmit($event)"
    (getSkillFilters)="skillFiltersEmit($event)"
    (getCountryFilters)="countryFiltersEmit($event)"
    (getCityFilters)="cityFiltersEmit($event)"
    (searchFilters)="searchFiltersEmit($event)"
    ></app-searchbar>

@if(missions == null || missions.length == 0){
<div class="w-100 text-center my-4">
    <p>No mission found</p>
    <p-button [severity]="'warning'" [iconPos]="'right'" [icon]="'pi pi-arrow-right'" label="Submit new mission"
        [outlined]="true" [styleClass]="'rounded-pill gap-2'">
    </p-button>
</div>
}
@else{

<div class="w-100 d-flex flex-column align-items-center py-3">
    <div class="w-75 d-flex justify-content-center justify-content-md-between">
        <h2>Explore {{totalMissions}} missions</h2>
        <div class="d-none d-md-block">
            <p-dropdown [options]="sortByOptions" [optionValue]="'value'" (onChange)="sortBy($event)" placeholder="Sort by" [styleClass]="'bg-transparent'"
                [style]="{width: '10rem'}" />
            <p-button [icon]="'pi pi-th-large'" outlined="true" (onClick)="view.set(true)" [severity]="'secondary'" [styleClass]="'border-0 rounded-circle'"/>
            <p-button [icon]="'pi pi-bars'" outlined="true" (onClick)="view.set(false)" [severity]="'secondary'" [styleClass]="'border-0 rounded-circle'"/>
        </div>
    </div>

    @if(view()){

    <div class="w-75 row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-2">
        @for(mission of missions; track mission){
        <div class="col py-2 px-4">
            <app-mission-card class="shadow" [mission]="mission"></app-mission-card>
        </div>
        }

    </div>
    }
    @else {

    <div class="w-75 mt-2">
        @for(mission of missions; track mission){
        <div class="py-2 px-4">
            <app-mission-list class="shadow" [mission]="mission"></app-mission-list>
        </div>
        }

    </div>
    }

    <p-paginator [pageLinkSize]="5" [rows]="pageSize" [alwaysShow]="true" [totalRecords]="totalMissions"
        (onPageChange)="pageChange($event)" />
</div>
<!-- (onPageChange)="onPageChange($event)"  -->
}
<app-footer></app-footer>