
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    button,
    input {
        /* CSS to Reset */
    }

    ::ng-deep .p-carousel-item-active {
      height: 100vh;
    }
  }

  .forget-password-form-div {
  width: 25%;
}
.forget-password-form {
  width: 100%;
}
.forget-password-btn{
    border-color: rgb(201, 113, 26) !important;
    color: rgb(201, 113, 26);
  }
@media only screen and (max-width: 768px) {
    .forget-password-form-div {
      width: 100%;
    }
  }
@media only screen and (max-width: 768px) {
    .forget-password-form {
      width: 340px !important;
    }
  }
  .img
    {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover !important;
        max-height: 100vh !important;
        width: 75vw;
    }